#form-getOrders {
    display: flex;
    flex-direction: column;
}

#form-getOrders>input {
    width: 359px;
    height: 52px;
    font-family: "Poppins";
    margin: 48px 0 16px;
    padding: 5px 0 5px 16px;
    border-radius: 6px;
    border: solid 1px #808083;
    background-color: #fff;
    outline: none;
    font-size: 16px;
}

#form-getOrders>input::placeholder {
    height: 20px;
    font-size: 16px;
    color: #424242;
}

#btn-orders {
    cursor: pointer;
    height: 52px;
    padding: 15px 0px 14px;
    border: none;
    border-radius: 6px;
    background-color: #424242;
    margin-bottom: 30px;
}

#span-orders {
    font-family: "Poppins";
    font-size: 16px;
    color: #fff;
}

.flex-general {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}