#title-any {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #141414;
}

#container-any__reason {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#article-any {
    display: flex;
    gap: 2em;
    justify-content: center;
    width: 90%;
    height: 200px;
}

#more-prices {
    position: relative;
    left: 17px;
    color: #00BB2D;
    font-weight: 500;

}

#any-img>img {
    width: 167px;
    height: 167px;
    border-radius: 12px;
}

#container-check__flex {
    display: flex;
    font-size: 12px;
    margin-top: 12px;
    gap: 7px
}


#any-flex {
    white-space: nowrap;
    display: flex;
    gap: 4em;
    font-size: 16px;
    font-weight: 500;
    color: #141414;
    margin-bottom: 12px;
}

#ref-any {
    font-size: 12px;
    color: #141414;
    margin: 16px 228px 0 0;
}

#container-colors__any {
    display: flex;
    align-items: center;
    gap: 7px;
}

#container-colors__any>span {
    font-family: Poppins;
    font-size: 12px;
    color: #141414;
}

#size-any {
    font-size: 12px;
    color: #141414;
}

#span-any {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    color: #141414;
}

#container-radios__any {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#any-options {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#span-free {
    position: relative;
    left: 9em;
}

#span-free2 {
    position: relative;
    left: 8em;
}

.any-date {
    margin: 6px 0 0 30px;
    font-size: 14px;
    color: #424242;
}

.any-info {
    margin: 6px 0 0 30px;
    font-size: 14px;
    font-weight: 500;
    color: #424242;
    text-decoration: underline;
    cursor: pointer;
}

#btn-anyNext {
    position: relative;
    top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#any-btnNext {
    width: 261px;
    height: 44px;
    font-family: Poppins;
    border-radius: 22px;
    border: solid 0.5px #424242;
    background-color: #f2f2f2;
}

#any-btnNext-active {
    cursor: pointer;
    width: 261px;
    height: 44px;
    color: #fff;
    font-family: Poppins;
    border-radius: 22px;
    border: none;
    background-color: #424242;
}

@media screen and (min-width:1300px) {
    #container-any__reason {
        margin-top: 4rem;
    }
}