.container-forgot {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-forgot>img {
    width: 220px;
    margin-bottom: 20px;
}

.form-forgot {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-forgot>input {
    width: 359px;
    height: 52px;
    padding: 5px 0 5px 16px;
    border-radius: 6px;
    border: solid 1px #808083;
    background-color: #fff;
    outline: none;
    font-family: "Poppins";
    font-size: 16px;
}

.form-forgot>input::placeholder {
    font-family: "Poppins";
    font-size: 16px;
    letter-spacing: -0.01px;
    color: #424242;
}

.btn-forgot {
    cursor: pointer;
    border: none;
    width: 380px;
    height: 52px;
    border-radius: 6px;
    background-color: #424242;
}

.span-forgot {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.alerta__forgot {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #f06361;
    font-weight: 600;
}

.alerta__forgot-success {
    width: 360px;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #5db661;
    font-weight: 600;
}