#title-rePayemt {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #141414;
}


#article-re {
    display: flex;
    gap: 2em;
    justify-content: center;
}

#re-img>img {
    width: 167px;
    height: 167px;
    border-radius: 12px;
}

#re-flex {
    display: flex;
    gap: 4em;
    font-size: 16px;
    font-weight: 500;
    color: #141414;
}

#ref-re {
    width: 100%;
    font-size: 12px;
    color: #141414;
    /* margin: 16px 228px 0 0; */
}

#container-re {
    display: flex;
    align-items: center;
    gap: 10px;
}

#container-re>span {
    font-family: Poppins;
    font-size: 12px;
    color: #141414;
}

#size-re {
    font-size: 12px;
    color: #141414;
}

#span-re {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    color: #141414;
}

#container-radios__re {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#re-options {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#span-free__re {
    position: relative;
    left: 13em;
    font-size: 14px;
    font-weight: 500;
    color: #424242;
}

#span-free2__re {
    position: relative;
    left: 17.5em;
    font-size: 14px;
    font-weight: 500;
    color: #424242;
}

.any-date {
    /* margin: 6px 0 0 30px; */
    font-size: 14px;
    color: #424242;
}

.any-info {
    /* margin: 6px 0 0 30px; */
    font-size: 14px;
    font-weight: 500;
    color: #424242;
    text-decoration: underline;
    cursor: pointer;
}

#btn-reNext {
    position: relative;
    top: 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#re-btnNext {
    width: 261px;
    height: 44px;
    font-family: Poppins;
    border-radius: 22px;
    border: solid 0.5px #424242;
    background-color: #f2f2f2;
}

#re-btnNext-active {
    /* margin: 20px; */
    width: 261px;
    height: 44px;
    font-family: Poppins;
    border-radius: 22px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #424242;
}