#container-table {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-listOrders {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #141414;
}

