#container-product {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title-product {
    color: #141414;
    font-size: 24px;
    font-weight: 500;
}

#article-product {
    width: 80vw;
    height: 641px;
    border-radius: 12px;
    border: solid 1px #808083;
    background-color: #fff;
    overflow: scroll;
}

#item-product {
    display: flex;
    height: 198px;
    margin: 24px;
    border-radius: 12px;
    background-color: #f5f5f5;
    padding: 15px 320px 16px 24px;
}

#items {
    display: flex;
    gap: 3em;
}

#text-header {
    font-size: 16px;
    font-weight: 500;
    color: #141414;
}

.text-normal {
    font-size: 12px;
    color: #141414;
}

#start-products {
    position: relative;
    top: 33px;
    cursor: pointer;
    background: #424242;
    border: none;
    color: #FFF;
    padding: 12px 68px;
    font-family: Poppins;
    border-radius: 22px;
}

#container-checkBox {
    display: flex;
    align-items: center;
}

#container-loading {
    background-color: rgba(0, 0, 0, 8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
}

/* #not-change {
    position: absolute;
    font-size: 12px;
    right: 150px;
    white-space: nowrap;
} */

#not-change {
    width: 50px;
    font-size: 12px;
    text-align: center;
}

#loading {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: progress;
    background: linear-gradient(0.25turn, transparent, #fff, transparent);
    animation: loading 2.5s infinite;
}

@keyframes loading {
    to {
        background-position: 315px 0, 0 0, 0 190px, 50px 195px;
    }
}