#container-return__store {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#return-store {
    width: 600px;
}

#span-store {
    position: relative;
    left: 17em;
    font-size: 14px;
    font-weight: 500;
    color: #424242;
}

#paragraph-store {
    font-size: 14px;
    font-weight: 500;
    color: #424242;
    margin: 20px 0 20px 30px;
}

.store-date {
    margin: 6px 0 0 30px;
    font-size: 14px;
    color: #424242;
}

.store-info {
    width: 50px;
    margin: 6px 0 0 30px;
    font-size: 14px;
    font-weight: 500;
    color: #424242;
    text-decoration: underline;
    cursor: pointer;
}

#container-stores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#stores {
    width: 618px;
    min-height: 379px;
    max-height: 379px;
    padding: 30px 3px 0 81px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    overflow-y: scroll;
}

#title-store {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #141414;
    margin-bottom: 2em;
}

#btn-stores {
    cursor: pointer;
    margin-top: 2em;
    padding: 12px 53.5px;
    border-radius: 22px;
    font-family: Poppins;
    cursor: pointer;
    width: 261px;
    height: 44px;
    border-radius: 22px;
    border: solid 0.5px #424242;
    background-color: #f2f2f2;
}

#btn-stores-active {
    width: 261px;
    height: 44px;
    border: none;
    cursor: pointer;
    margin-top: 2em;
    padding: 12px 53.5px;
    border-radius: 22px;
    color: #fff;
    background-color: #424242;
    font-family: Poppins;
}


#stores-div {
    margin-bottom: 2em;
}

.spinner2 {
    position: absolute;
    right: 50%;
    left: 49%;
    top: 55%;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #424242;
    border-bottom-color: #424242;
    animation: spinner 0.7s ease infinite;
}


@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}