#title-home {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #141414;
}

#return-home {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#return-home__container {
    width: 550px;
}

#container-btn-radio {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#span-free__home {
    position: relative;
    left: 13em;
}

.home-date {
    margin: 6px 0 0 30px;
    font-size: 14px;
    color: #424242;
}

.home-info {
    margin: 6px 0 0 30px;
    font-size: 14px;
    font-weight: 500;
    color: #424242;
    text-decoration: underline;
    cursor: pointer;
}

#div-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 2em;
}

#direccion,
#linea1,
#linea2 {
    padding: 0 0 0 13px;
    font-family: Poppins;
    width: 535px;
    height: 48px;
    border-radius: 6px;
    border: solid 1px #808083;
    background-color: #fff;
    outline: none;
    font-size: 16px;
}


#nombre,
#apellido,
#codigo_postal,
#ciudad {
    padding: 0 0 0 10px;
    font-size: 16px;
    font-family: Poppins;
    width: 252px;
    height: 48px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    outline: none;
    color: #000;
}

#nombre::placeholder,
#apellido::placeholder,
#codigo_postal::placeholder,
#ciudad::placeholder,
#direccion::placeholder,
#linea1::placeholder,
#linea2::placeholder {
    font-size: 14px;
    color: #4f4f4f;
}

.div-flex {
    display: flex;
    gap: 20px;
}

#bt-home {
    width: 261px;
    height: 44px;
    margin: 54px 0 0 0;
    padding: 12px 53.5px;
    border-radius: 22px;
    color: #424242;
    font-family: Poppins;
    border: 1px solid #424242;
    background-color: #fff;
}

#bt-home-active {
    cursor: pointer;
    width: 261px;
    height: 44px;
    margin: 54px 0 20px 0;
    padding: 12px 53.5px;
    border-radius: 22px;
    color: #fff;
    font-family: Poppins;
    border: none;
    background-color: #424242;
}

#terminos-home {
    text-decoration: underline;
}