.tableFooter {
  background-color: #f1f1f1;
  padding: 8px 0px;
  width: 100%;
  font-weight: 500;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.activeButton {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #185adb;
}

.inactiveButton {
  cursor: pointer;
  border: none;
  color: #2c3e50;
}