.App {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins"
}

.message-error {
  margin: 5px;
  padding: 0;
  font-size: 13px;
  color: #f06361;
  font-weight: 600;
}

.message-success {
  width: 360px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #5db661;
  font-weight: 600;
}

/*ICON AND MODAL*/

.container_icons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.icon__close {
  position: absolute;
  right: 50px;
  cursor: pointer;
  font-size: 20px;
}

.icon__arrow {
  position: absolute;
  left: 50px;
  cursor: pointer;
  font-size: 20px;
}

.popup {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  color: #000;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}


.popup .content {
  max-height: 30%;
  overflow: auto;
}

.container-btn {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.btn-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 44px;
  background-color: transparent;
  border: 1px solid #424242;
  cursor: pointer;
  font-family: 'Poppins';
  font-weight: 600;
}

.btn-accept {
  display: flex;
  color: #fff;
  font-family: 'Poppins';
  font-weight: 600;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 44px;
  background-color: #424242;
  cursor: pointer;
  border: none;
}

/* RADIO BUTTON */


[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #424242;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #424242;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #424242;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.spinner {
  margin: 0 auto;
  content: "";
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #424242;
  border-bottom-color: #424242;
  animation: spinner 0.7s ease infinite;
}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}